
<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="pizza_container">
            </div>
        </div>
    </div>
</div>

@section Scripts {

        <script type="text/javascript">

            const nome = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
            debugger;

               axios.get(`https://localhost:7262/api/PizzaAPI/GetDetails/${nome}`).then((res) =>
                    {
                let pizze = res.data;
                console.log('pizza ricevuta', pizze);


                document.getElementById('pizza_container').innerHTML +=
                    `
                        <div class="col-12 col-md-4 p-2">
                            <div class="card post h-100">
                                <img src="${pizze.foto}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">${pizze.nome}</h5>
                                    <p class="card-text">${pizze.descrizione}</p>
                                </div>
                            </div>
                        </div>
                    `;

            });

        </script>
}
