
<div class="container">

    <div class="row justify-content-end">

        <div class="col-12">

            <div class="d-flex justify-content-between align-items-center">

                <h1 class="mt-3 mb-3">Le nostre pizze</h1>

                <form class="d-flex" role="search">
                        <input id="input_search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                
            </div>

        </div>

    </div>

    <div id="spinner-grower" class="spinner-grow text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div id="contenitore_no_pizze" class="row text-center d-none">

        <div class="col-12">
            <h3>Le pizze sono esaurite</h3>
        </div>

    </div>

    <div id="contenitore_pizze" class="row d-none">

    </div>

</div>

@section Scripts {

    <script type="text/javascript">

        loadPizzeApi();

        document.getElementById('input_search').addEventListener('keyup', searchPizzas);

        function searchPizzas() {
            let ricerca = document.getElementById('input_search').value;
            console.log(ricerca);
            loadPizzeApi(ricerca);
        }

        function loadPizzeApi(searchPizza) {
            
            axios.get('/api/PizzaAPI/get', {
                params: {
                    search: searchPizza
                }
            }
            ).then((res) => {

                console.log('Risultato ok');
                console.log(res);

                debugger;

                if (res.data.length > 0) {
                    document.getElementById('contenitore_pizze').classList.remove('d-none');
                    document.getElementById('contenitore_no_pizze').classList.add('d-none');

                    document.getElementById('contenitore_pizze').innerHTML = '';

                    res.data.forEach(pizza => {

                        console.log('pizze: ', pizza);

                        document.getElementById('contenitore_pizze').innerHTML +=
                            `
                                <div class="card  mycard m-4" style="width: 24rem;">

                                    <img src=${pizza.foto} class="card-img-top p-2" alt="${pizza.nome}">

                                    <div class="card-body body-card text-tabella">

                                        <h5 class="card-title title-card">${pizza.nome}</h5>
                                        <p class="card-text">${pizza.descrizione}</p>
                                        <p class="card-text" style="color: darkred">${pizza.prezzo} $</p>

                                    </div>

                                        <div class="bottoni-action">
                                            <a class="btn btn-primary m-3" href="/Pizza/Details/${pizza.nome}" role="button">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>

                                            </a>
                                        </div>

                                </div>
                            `;
                        
                    });
                }
                else
                {
                    document.getElementById('contenitore_pizze').classList.remove('d-none');
                    document.getElementById('contenitore_no_pizze').classList.add('d-none');
                }

                document.getElementById('spinner-grower').classList.add('d-none');
            }).catch((error) =>{
                console.log(error)
            });

        }

    </script>

}

